<ion-content class="ion-padding">
  <div class="item-padding form-header">
    <ion-title class="title">Añadir producto</ion-title>
    <ion-icon
      name="close-outline"
      slot="end"
      class="close-button"
      (click)="goBack()"
    ></ion-icon>
  </div>

  <ion-card>
    <form (ngSubmit)="addProduct()" class="ion-padding" #form="ngForm">
      <ion-list>
        <ion-item>
          <ion-label position="floating">Nombre</ion-label>
          <ion-input
            type="text"
            inputmode="text"
            name="title"
            placeholder="Ingrese el nombre"
            [(ngModel)]="product.title"
            [required]="true"
          ></ion-input>
        </ion-item>
        <ion-item>
          <ion-label>Tipo de producto</ion-label>
          <ion-select placeholder="Seleccione una opción" [(ngModel)]="product.type" name="type" [required]="true">
            <ion-select-option value="normal">Tradicional</ion-select-option>
            <ion-select-option value="promotion">Promoción</ion-select-option>
          </ion-select>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Precio</ion-label>
          <ion-input
            type="number"
            inputmode="numeric"
            name="price"
            placeholder="Ingrese el precio"
            [(ngModel)]="product.price"
            [required]="true"
          ></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Precio de oferta</ion-label>
          <ion-input
            type="number"
            inputmode="numeric"
            name="offer_price"
            placeholder="Ingrese el precio"
            [(ngModel)]="product.offer_price"
            [required]="true"
          ></ion-input>
        </ion-item>
        <ion-item>
          <ion-label>Foto</ion-label>
          <ion-buttons slot="end">
            <ion-button
              ><ion-icon slot="icon-only" name="images"></ion-icon
            ></ion-button>
          </ion-buttons>
        </ion-item>
      </ion-list>
      <ion-button type="submit" class="submit-button" [disabled]="form.invalid"
        >Añadir</ion-button
      >
    </form>
  </ion-card>
</ion-content>
