<ion-content class="ion-padding">
  <div class="item-padding form-header form-panel">
    <ion-title class="title">Editar mi perfil</ion-title>
    <ion-icon
      name="close-outline"
      slot="end"
      class="close-button"
      (click)="goBack()"
    ></ion-icon>
  </div>

  <ion-card class="form-panel">
    <form
      (ngSubmit)="onSubmit()"
      class="ion-padding"
      #form="ngForm"
      [formGroup]="UserForm"
    >
      <ion-list>
        <ion-item fill="solid">
          <ion-label position="floating">Nombre</ion-label>
          <ion-input
            type="text"
            inputmode="text"
            name="name"
            formControlName="name"
            [clearInput]="true"
            placeholder="Ingrese su nombre"
            [(ngModel)]="user.name"
            [required]="true"
          ></ion-input>
          <ion-note
            *ngIf="
              (UserForm.get('name')?.hasError('required') ||
                UserForm.get('name')?.hasError('minlength')) &&
              UserForm.get('name')?.touched!
            "
            slot="error"
            >Contenido inválido</ion-note
          >
        </ion-item>
        <ion-item fill="solid">
          <ion-label position="floating">Apellido</ion-label>
          <ion-input
            type="text"
            inputmode="text"
            name="lastname"
            formControlName="lastname"
            [clearInput]="true"
            placeholder="Ingrese su apellido"
            [(ngModel)]="user.lastname"
            [required]="true"
          ></ion-input>
          <ion-note
            *ngIf="
              (UserForm.get('lastname')?.hasError('required') ||
                UserForm.get('lastname')?.hasError('minlength')) &&
              UserForm.get('lastname')?.touched!
            "
            slot="error"
            >Contenido inválido</ion-note
          >
        </ion-item>
        <ion-item fill="solid">
          <ion-label position="floating">Correo electrónico</ion-label>
          <ion-input
            type="email"
            inputmode="email"
            name="email"
            formControlName="email"
            [clearInput]="true"
            placeholder="Ingrese su correo electrónico"
            [(ngModel)]="user.email"
            [required]="true"
          ></ion-input>
          <ion-note
            *ngIf="
              UserForm.get('email')?.hasError('required') &&
              UserForm.get('email')?.touched!
            "
            slot="error"
            >Ingrese su correo electrónico</ion-note
          >
          <ion-note
            *ngIf="UserForm.get('email')?.hasError('email')"
            slot="error"
            >El formato del correo electrónico es inválido</ion-note
          >
        </ion-item>
        <ion-item fill="solid">
          <ion-label position="floating">Contraseña</ion-label>
          <ion-input
            type="password"
            inputmode="password"
            name="password"
            formControlName="password"
            [clearInput]="true"
            placeholder="Ingrese su contraseña"
            [(ngModel)]="user.password"
            [required]="true"
          ></ion-input>
          <ion-note
            *ngIf="
              UserForm.get('password')?.hasError('required') &&
              UserForm.get('password')?.touched!
            "
            slot="error"
            >Ingrese su contraseña</ion-note
          >
          <ion-note
            *ngIf="UserForm.get('password')?.hasError('pattern')"
            slot="error"
            >El formato de la contraseña es inválido</ion-note
          >
        </ion-item>
        <ion-item fill="solid">
          <ion-label position="floating">Confirmar contraseña</ion-label>
          <ion-input
            type="password"
            inputmode="password"
            name="confirm_password"
            formControlName="confirm_password"
            [clearInput]="true"
            placeholder="Confirme su contraseña"
            [required]="true"
          ></ion-input>
          <ion-note
            *ngIf="
              UserForm.get('confirm_password')?.hasError('required') &&
              UserForm.get('confirm_password')?.touched!
            "
            slot="error"
            >Confirme su contraseña</ion-note
          >
          <ion-note
            *ngIf="UserForm.get('confirm_password')?.hasError('pattern')"
            slot="error"
            >El formato de la contraseña es inválido</ion-note
          >
          <ion-note
            *ngIf="
              UserForm.get('confirm_password')?.hasError('confirmedValidator')
            "
            slot="error"
            >Las contraseñas no son idénticas</ion-note
          >
        </ion-item>
        <ion-item>
          <ion-label>Rol</ion-label>
          <ion-select
            interface="alert"
            placeholder="Seleccione una opción"
            [(ngModel)]="user.type"
            name="type"
            formControlName="type"
            [required]="true"
          >
            <ion-select-option value="client">Cliente</ion-select-option>
            <ion-select-option value="admin">Administrador</ion-select-option>
            <ion-select-option value="chef">Cocinero</ion-select-option>
            <ion-select-option value="delivery">Delivery</ion-select-option>
          </ion-select>
          <ion-note
            *ngIf="
              UserForm.get('type')?.hasError('required') &&
              UserForm.get('type')?.touched!
            "
            slot="error"
            >Debe seleccionar una opción</ion-note
          >
        </ion-item>
        <ion-item fill="solid">
          <ion-label position="floating">Teléfono</ion-label>
          <ion-input
            type="number"
            inputmode="numeric"
            name="phone"
            formControlName="phone"
            [clearInput]="true"
            placeholder="Ingrese su teléfono"
            [(ngModel)]="user.phone"
            [required]="true"
          >
          </ion-input>
          <ion-note
            *ngIf="
              (UserForm.get('phone')?.hasError('required') ||
                UserForm.get('phone')?.hasError('minlength')) &&
              UserForm.get('phone')?.touched!
            "
            slot="error"
            >Contenido inválido</ion-note
          >
        </ion-item>
        <ion-item fill="solid">
          <ion-label position="floating">Dirección (Google Maps)</ion-label>
          <ion-input
            type="text"
            inputmode="text"
            name="location"
            formControlName="location"
            [clearInput]="true"
            placeholder="Ingrese su dirección"
            [(ngModel)]="user.location"
            [required]="true"
          ></ion-input>
          <ion-note
            *ngIf="
              (UserForm.get('location')?.hasError('required') ||
                UserForm.get('location')?.hasError('minlength')) &&
              UserForm.get('location')?.touched!
            "
            slot="error"
            >Contenido inválido</ion-note
          >
        </ion-item>
        <ion-item fill="solid">
          <ion-label position="floating">Descripción</ion-label>
          <ion-textarea
            name="des_location"
            formControlName="des_location"
            placeholder="Si es necesario, describa con detalle su dirección"
            [(ngModel)]="user.des_location"
            [required]="false"
          ></ion-textarea>
        </ion-item>
        <ion-item>
          <ion-label>Foto</ion-label>
          <ion-buttons slot="end">
            <ion-button>
              <label for="file-upload">
                <ion-icon
                  slot="icon-only"
                  name="images"
                  [ngStyle]="{ 'margin-top': '7px', cursor: 'pointer' }"
                ></ion-icon>
              </label>
              <input
                #userUpload
                title="file-upload"
                [ngStyle]="{ display: 'none' }"
                id="file-upload"
                type="file"
                accept="image/"
                name="image"
                formControlName="image"
                (change)="uploadFile($event)"
                [(ngModel)]="user.img_profile"
                [required]="true"
              />
            </ion-button>
          </ion-buttons>
        </ion-item>
        <div
          class="image-form"
          *ngIf="image.length !== 0 && userUpload.value !== ''"
        >
          <img [src]="image" alt="" />
        </div>
      </ion-list>
      <div class="button-form">
        <ion-button
          type="submit"
          class="submit-button"
          [disabled]="form.invalid"
          >GUARDAR</ion-button
        >
      </div>
    </form>
  </ion-card>
</ion-content>