<ion-app>
  <ion-menu contentId="main-content">
    <ion-header>
      <ion-toolbar>
        <ion-title>Opciones</ion-title>
        <ion-icon
          name="close-outline"
          slot="end"
          class="close-button"
          (click)="closeMenu()"
        ></ion-icon>
      </ion-toolbar>
    </ion-header>
    <ion-content class="ion-padding">
      <ion-menu-toggle
        [ngStyle]="{ display: 'flex', 'flex-direction': 'column', gap: '15px' }"
      >
        <ion-item button="true" detail="true" [routerLink]="['']">
          <ion-label class="normal"> Inicio</ion-label>
          <ion-icon name="home-outline" slot="start"></ion-icon>
        </ion-item>
        <ion-item
          button="true"
          detail="true"
          [routerLink]="['/admin/products']"
        >
          <ion-label class="normal"> Productos</ion-label>
          <ion-icon name="pricetags-outline" slot="start"></ion-icon>
        </ion-item>
        <ion-item button="true" detail="true" [routerLink]="['/admin/users']">
          <ion-label class="normal"> Usuarios</ion-label>
          <ion-icon name="person-circle-outline" slot="start"></ion-icon>
        </ion-item>
      </ion-menu-toggle>
    </ion-content>
  </ion-menu>
  <div class="ion-page" id="main-content">
    <ion-header>
      <ion-toolbar>
        <ion-buttons slot="start">
          <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>Order webapp</ion-title>
        <ion-buttons slot="end" *ngIf="current_user === null">
          <ion-button
            [routerLink]="['/auth/login']"
            [ngStyle]="{
              width: '70px',
              height: '70px',
              fontSize: '22px',
              paddingRight: '10px'
            }"
          >
            <ion-icon name="log-in-outline"></ion-icon>
          </ion-button>
        </ion-buttons>
        <ion-buttons slot="end" *ngIf="current_user !== null">
          <ion-button
            [routerLink]="['/my-profile']"
            [ngStyle]="{
              width: '280px',
              height: '70px',
              fontSize: '17px'
            }"
          >
            <img src="" alt="" srcset="" />
            <p>Mi perfil</p>
          </ion-button>
          <ion-button
            (click)="logOut()"
            [ngStyle]="{
              width: '70px',
              height: '70px',
              fontSize: '22px',
              paddingRight: '10px'
            }"
          >
            <ion-icon name="log-out-outline"></ion-icon>
          </ion-button>
        </ion-buttons>
      </ion-toolbar>
    </ion-header>
    <ion-content class="ion-padding">
      <ion-router-outlet id="main-content"></ion-router-outlet>
    </ion-content>
  </div>
</ion-app>
