.buttons-item{
    display: flex;
    justify-content: center;
    gap: 5px !important;
}

.wrapper{
    display: flex;
    height: 100%;
    width: 100%;
    align-items: center;
    justify-content: center;
}


@media screen and (max-width: 500px) {
    .list-products{
        max-height: 490px;
        overflow-x: hidden !important;
    }
    
}