<ion-content class="ion-padding">
  <div class="item-padding form-header form-panel">
    <ion-title class="title">Recuperar contraseña</ion-title>
    <ion-icon
      name="close-outline"
      slot="end"
      class="close-button"
      (click)="goBack()"
    ></ion-icon>
  </div>
  <ion-card class="form-panel">
    <div
      [ngStyle]="{
        display: 'flex',
        flexDirection: 'column',
        alignItems: 'center',
        justifyContent: 'center',
        gap: '15px',
        padding: '50px'
      }"
    >
      <ion-card-title class="title" [ngStyle]="{textAlign: 'center'}">¿OLVIDASTE TU CONTRASEÑA?</ion-card-title>
      <ion-card-subtitle
        class="normal"
        [ngStyle]="{ margin: 'auto 50px auto 50px', textAlign: 'center' }"
        >Por favor, introduzca su correo electrónico dentro del campo y presione
        el boton "ENVIAR" para poder iniciar con la recuperación.</ion-card-subtitle
      >
      <form
        (ngSubmit)="onSubmit()"
        class="ion-padding"
        #form="ngForm"
        [formGroup]="ForgotPwdGroup"
        [ngStyle]="{width: '75%', marginBottom: '-30px'}"
      >
        <ion-list [ngStyle]="{margin: '-20px auto 10px auto'}">
          <ion-item fill="solid">
            <ion-label position="floating">Correo electrónico</ion-label>
            <ion-input
              type="email"
              inputmode="email"
              name="email"
              formControlName="email"
              [clearInput]="true"
              placeholder="Ingrese su correo electrónico"
              [(ngModel)]="email"
              [required]="true"
            ></ion-input>
            <ion-note
              *ngIf="
                ForgotPwdGroup.get('email')?.hasError('required') &&
                ForgotPwdGroup.get('email')?.touched!
              "
              slot="error"
              >Ingrese su correo electrónico</ion-note
            >
            <ion-note
              *ngIf="ForgotPwdGroup.get('email')?.hasError('email')"
              slot="error"
              >El formato del correo electrónico es inválido</ion-note
            >
          </ion-item>
        </ion-list>
        <div class="button-form">
          <ion-button
            type="submit"
            class="submit-button"
            [disabled]="form.invalid"
            >ENVIAR</ion-button
          >
        </div>
      </form>
    </div>
  </ion-card>
</ion-content>
