/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import "~@ionic/angular/css/display.css";

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

/* Google fonts */
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

* {
    font-family: "Poppins", sans-serif !important;
}

.title {
    font-size: 22px;
    font-weight: bolder;
}

.subtitle {
    font-size: 18px;
    font-weight: bold;
}

.normal {
    font-size: 14px;
}

ion-button {
    cursor: pointer;
}

.close-button {
    padding-right: 15px;
    font-size: 30px;
    opacity: 0.7;
    cursor: pointer;
    transition: all 0.1s;
}

.close-button:hover {
    opacity: 1;
}

.item-padding {
    padding-top: 10px;
    padding-bottom: 20px;
}

.success-toast {
    --background: rgb(45, 146, 90);
    --color: white;
}

.warning-toast {
    --background: rgb(207, 177, 8);
    --color: black;
}

.danger-toast {
    --background: #c63f51;
    --color: white;
}

.success-toast::part(message),
.warning-toast::part(message),
.danger-toast::part(message) {
    font-weight: 400;
}

.success-toast::part(button),
.warning-toast::part(button),
.danger-toast::part(button) {
    border-left: 1px solid white;
    color: white;
    font-size: 15px;
}
